@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(210, 14%, 9%);
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: red solid 1px; */
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--Very-Dark-Blue);
    padding: 2rem;
    width: 90vw;
    border-radius: 15px;
}

.title {
    color: var(--White);
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1.5rem auto;
}

.paragraph {
    color: var(--Light-Grey);
    margin-bottom: 2.5rem;
}


        /* FIRST PAGE */

.first-page figure {
    background-color: var(--Dark-Blue);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-page img {
    width: 22px;
}

.grades {
    display: flex;
    justify-content: space-between;
}

.grade {
    background-color: var(--Dark-Blue);
    color: var(--Light-Grey);
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    border-radius: 50%;
    text-decoration: none;
    border: none;
    transition: all .25s;
}

.grade:hover {
    background-color: var(--Medium-Grey);
    color: var(--White);
}

input {
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    background-color: var(--orange);
    color: var(--White);
    display: block;
    border-radius: 1.5rem;
    margin-top: 1.5rem;
    border: none;
    transition: all .25s;
}

input:hover {
    background-color: var(--White);
    color: var(--orange);
}


        /* SECOND PAGE */
    
.second-page {
    text-align: center;
}

.result {
    color: var(--orange);
    background-color: var(--Dark-Blue);
    height: 2rem;
    line-height: 2rem;
    border-radius: 1rem;
    margin: 2rem auto;
    width: 65%;
    text-align: center;
}

.second-page .paragraph {
    width: 80%;
    margin: 0 auto 1.5rem;
}


        /* RESPONSIVE */

@media screen and (min-width: 450px) {
    .card {
        max-width: 400px;
    }
}

        /* JAVASCRIPT */

.chosen,
.chosen:hover {
    background-color: var(--orange);
    color: var(--White);
}

.hidden {
    visibility: hidden;
    display: none;
}


        /* CREDITS */
footer {
    position: fixed;
    margin: 0 auto;
    bottom: 1rem;
}
.attribution {
    width: 400px;
    font-size: 11px;
    text-align: center;
    color: var(--White);
}
.attribution a {
    color: hsl(228, 41%, 58%);
}